body {
    background-color: #f5d9d5;
    font-family: "nunito", sans-serif;

}
#main-nav {
    font-size: 1.5rem;
    font-weight: 100;
}

#main-nav .nav-link {
    color: white;
}
#main-nav .nav-link:hover {
    color: #ea1c2c;

}

#main-nav .navbar-brand {
    color: #ea1c2c;
}

#HeadingGroup span {
    color: #ea1c2c;
}

#HeadingGroup h1{
    font-weight: 100;
    font-size: 3rem;
}

@media (max-width: 1200px){
    #HeadingGroup h1{
        font-weight: 100;
        font-size: 2rem;
    }
}

